<%- include('../../fragments/header.ejs')%>
<% if(!loggedUser) { %>
    <%- include('../../fragments/auth.ejs')%>
<%} else { %>
<div class="container">
        <main>
            <h2><%= pageTitle %></h2>

            <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
                <input type="hidden" name="idVisit" value="<%= Visit.idVisit%>">

                
                <label for="vet"><%= __('visit.fields.vet')%>: <span class="symbol-required"><%Visit.idVisit%>*</span></label>
                <select class="<%= validationErrors.find(e=> e.path.includes('idVet')) ? 'error-input' : ''%>"
                        name="idVet" id="vet" required >

                    <option value="" selected><%= __('form-placeholder.choose-vet')%></option>
                    <%for (let i=0;i< Vets.length ;i++) {let v = Vets[i]; %>
                    <option
                            value="<%=v.idVet%>" label="<%=v.firstName+" "+v.lastName%>"
                            <%if (formMode=='edit' &&ifAfterError=='no'){%>
                                <%= (v.idVet.toString() == Visit.vet.idVet.toString() )?'selected':''%>
                            <%}if(ifAfterError=='yes'){%>
                                <%= (v.idVet.toString() == Visit.idVet.toString() )?'selected':''%>
                            <%}%>

                    > </option>
                    <%}%>
                </select>
                <span id="errorVet" class="errors-text">
                    <%if (validationErrors.find(e=> e.path.includes('idVet'))) { %>
                        <%= validationErrors.find(e=> e.path.includes('idVet')).message %>
                    <%}%>
                </span>
                <div style="display: none">
                    <span id="error-required"><%= __('validationMessage.fieldRequired')%></span>
                    <span id="error-min"><%= __('validationMessage.fieldMin')%></span>
                    <span id="error-max"><%= __('validationMessage.fieldMax')%></span>
                    <span id="error-character"><%= __('validationMessage.characters')%></span>
                    <span id="error-number"><%= __('validationMessage.filedNumber')%></span>
                    <span id="error-zero"><%= __('validationMessage.moreThenZero')%></span>

                </div>


                <label for="animal"><%= __('visit.fields.animal')%>: <span class="symbol-required">*</span></label>
                <select class="<%= validationErrors.find(e=> e.path.includes('idAnimal')) ? 'error-input' : ''%>"
                        name="idAnimal" id="animal" required >

                    <option value="" selected><%= __('form-placeholder.choose-patient')%></option>
                    <%for (let i=0;i< Animals.length ;i++) {let a = Animals[i]; %>
                    <option
                            value="<%=a.idAnimal%>" label="<%=a.name%>"
                            <%if ((Visit.idAnimal && formMode=='add') || ifAfterError=='yes') {%>
                                <%= (a.idAnimal.toString() == Visit.idAnimal.toString() )?'selected':''%>
                            <%}
                            if(formMode!='add' && ifAfterError=='no'){%>
                                <%= (a.idAnimal.toString() == Visit.animal.idAnimal.toString() )?'selected':''%>
                            <%}%>
                    > </option>
                    <%}%>
                </select>

                <span id="errorAnimal" class="errors-text">
                    <%if (validationErrors.find(e=> e.path.includes('idAnimal'))) { %>
                        <%= validationErrors.find(e=> e.path.includes('idAnimal')).message %>
                    <%}%>
                </span>

                <label for="visitDate"><%= __('visit.fields.date')%>: <span class="symbol-required">*</span></label>
                <input class="<%= validationErrors.find(e=> e.path.includes('date')) ? 'error-input' : ''%>"
                        type="datetime-local" name="date" required id="visitDate"
                <%if (formMode == 'add') { %>
                value="<%=Visit.date %>"/>
                <%}else if(ifAfterError=='yes') { %>
                value="<%=Visit.date %>"/>
                <%}else{%>
                value="<%=Visit.date.toISOString().replace(':00.000Z','')%>"/>
                <%}%>
                <span id="errorVisitDate" class="errors-text">
                    <%if (validationErrors.find(e=> e.path.includes('date'))) { %>
                        <%= validationErrors.find(e=> e.path.includes('date')).message %>
                    <%}%></span>

                <label for="service"><%= __('visit.fields.service')%>: <span class="symbol-required">*</span></label>
                <input class="<%= validationErrors.find(e=> e.path.includes('service')) ? 'error-input' : ''%>"
                        type="text" name="service" id="service" placeholder="2-500 <%= __('form-placeholder.character')%>" value="<%= Visit.service%>" required />
                <span id="errorService" class="errors-text">
                    <%if (validationErrors.find(e=> e.path.includes('service'))) { %>
                        <%= validationErrors.find(e=> e.path.includes('service')).message %>
                    <%}%></span>

                <label for="price"><%= __('visit.fields.price')%>: <span class="symbol-required">*</span></label>
                <input class="<%= validationErrors.find(e=> e.path.includes('price')) ? 'error-input' : ''%>"
                        type="number" step="0.01" name="price" id="price" placeholder="0.00 zł" value="<%=Visit.price %>"  required />
                <span id="errorPrice" class="errors-text">
                    <%if (validationErrors.find(e=> e.path.includes('price'))) { %>
                        <%= validationErrors.find(e=> e.path.includes('price')).message %>
                    <%}%>
                </span>

                <div class="form-buttons">
                    <button class="form-actions-button-submit" type="submit" >
                        <svg class="form-actions-button-submit" xmlns="http://www.w3.org/2000/svg"  width="50" height="50" fill="#000000" viewBox="0 0 256 256">
                            <rect width="256" height="256" fill="none"></rect>
                            <polyline class="details-icon-color" points="216 72.005 104 184 48 128.005" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
                        </svg>
                    </button>
                    <a  href="/visits" >
                        <svg class="form-actions-button-cancel" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#000000" viewBox="0 0 256 256">
                            <rect width="256" height="256" fill="none"></rect>
                            <line class="details-icon-color" x1="200" y1="56" x2="56" y2="200" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                            <line class="details-icon-color" x1="200" y1="200" x2="56" y2="56" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                        </svg>
                    </a>
                </div>
            </form>
            
        </main>
    <div class="loggedButton">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#000000" viewBox="0 0 256 256">
            <rect width="256" height="256" fill="none"></rect>
            <circle cx="128" cy="96" r="64" fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="16"></circle>
            <path d="M31,216a112,112,0,0,1,194,0" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
        </svg>
        <span><%=loggedUser.firstName + " " + loggedUser.lastName%></span>
    </div>
</div>
<%}%>
<%- include('../../fragments/footer.ejs')%>