<%- include('../../fragments/header.ejs')%>
<% if(!loggedUser) { %>
    <%- include('../../fragments/auth.ejs')%>
<%} else { %>
<div class="container">
<main>
            
            <div>
                <h1><%= __('client.pages.delete')%> </h1>
                <a name="idClient" class="form-actions-button-submit"  href="../../clients/delete/<%= idClient %>" >
                    <svg class="form-actions-button-submit" xmlns="http://www.w3.org/2000/svg"  width="50" height="50" fill="#000000" viewBox="0 0 256 256">
                        <rect width="256" height="256" fill="none"></rect>
                        <polyline class="details-icon-color" points="216 72.005 104 184 48 128.005" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
                    </svg>
                </a>
               
                <a class="form-button-cancel"  href="/clients" >
                    <svg class="form-actions-button-cancel" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#000000" viewBox="0 0 256 256">
                        <rect width="256" height="256" fill="none"></rect>
                        <line class="details-icon-color" x1="200" y1="56" x2="56" y2="200" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                        <line class="details-icon-color" x1="200" y1="200" x2="56" y2="56" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                    </svg>
                </a>
            </div>
        </main>
    <div class="loggedButton">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#000000" viewBox="0 0 256 256">
            <rect width="256" height="256" fill="none"></rect>
            <circle cx="128" cy="96" r="64" fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="16"></circle>
            <path d="M31,216a112,112,0,0,1,194,0" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
        </svg>
        <span><%=loggedUser.firstName + " " + loggedUser.lastName%></span>
    </div>
</div>
<%}%>
<%- include('../../fragments/footer.ejs')%>